{% extends "base.html" %} {% block content %}

<main class="mt-4">
  <div class="container dark-grey-text">
    <!--Grid row-->
    <div class="row wow">
      <!--Grid column-->
      <div class="col-md-6 d-flex align-items-center">
        <img
          src="{{ item.image.url }}"
          class="img-fluid"
          style="width: 400px"
          alt=""
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mt-3">
        <!--Content-->
        <div class="px-4">
          <div class="mb-3">
            <p class="lead font-weight-bold">{{ object.title }}</p>

            <a href="">
              <span class="badge purple mr-1"
                >{{ object.get_category_display }}</span
              >
            </a>
          </div>

          <p class="lead">
            <span>${{ object.price }}</span>
          </p>

          <p class="lead font-weight-bold">Description</p>

          <p>{{ object.description }}</p>

          {% comment %}
          <form class="d-flex justify-content-left">
            <!-- Default input -->
            <input
              type="number"
              value="1"
              aria-label="Search"
              class="form-control"
              style="width: 100px"
            />
            <button class="btn btn-primary btn-md my-0 p" type="submit">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>
          </form>
          {% endcomment %}
          <a
            href="{{ object.get_add_to_cart_url }}"
            class="btn btn-primary btn-md my-0 p"
          >
            Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>
          <a
            href="{{ object.get_remove_from_cart_url }}"
            class="btn btn-danger btn-md my-0 p"
          >
            Remove from cart
          </a>
        </div>
        <!--Content-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <hr />
  </div>
</main>

{% endblock content %}
